.charge-container {
  max-width: 600px;
  margin: auto;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.charge-container__method-selector {
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: auto;
}

.charge-container__charge-selector {
  margin: auto;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.charge-container h2 {
  color: #575555;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 10px;
}

.charge-container__selected-services-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charge-details {
  flex: 1;
}
.charge-container__remove-btn {
  background: none;
  color: rgb(183, 68, 68);
  border: none;
  cursor: pointer;
  order: -1;
}

.charge-container__minutes-input {
  align-self: flex-end;
  width: 65px;
  margin-left: 10px;
}

.charge-container__remove-btn:hover {
  background: none;
  color: rgb(234, 54, 54);
}

.charge-container__reset-btn {
  width: 100%;
  height: 35px;
  background-color: #4692be;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.charge-container__reset-btn:hover {
  background-color: #6bbee4;
}

.charge-container__calculate-btn {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 10px;
  background-color: #2d8048;
}

.charge-container__calculate-btn:hover {
  background-color: #369a57;
}

.charge-container__calculation-result-text {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}

@media only screen and (max-width: 768px) {
  .charge-container {
    padding: 10px; /* Slightly increased padding for better spacing */
  }

  .charge-container__method-selector,
  .charge-container__charge-selector,
  .charge-container__reset-btn,
  .charge-container__calculate-btn {
    width: 100%;
    margin: auto; /* Center-align if max-width is less than 100% */
  }

  .charge-container__calculate-btn {
    margin: 10px 0; /* Adjusted margin for better spacing */
  }

  .charge-container h2 {
    font-size: 18px; /* Adjusted font size for better readability */
    padding-bottom: 5px; /* Reduced padding for compactness */
    border-bottom: 1px solid #eaeaea; /* Restored border with reduced thickness */
  }

  .charge-details,
  .charge-container__calculation-result-text {
    font-size: 16px;
  }

  .charge-container__remove-btn,
  .charge-container__reset-btn,
  .charge-container__calculate-btn {
    padding: 12px 10px 12px 0;
  }
}
