.charge-container {
  max-width: 600px;
  margin: auto;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.charge-container__method-selector {
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.charge-container__charge-selector {
  margin: auto;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.charge-container h2 {
  color: var(--blue);
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 10px;
}
.charge-container__selected-services {
  display: grid;
  grid-template-columns: auto 1fr 1fr; /* Define four columns */
  column-gap: 10px; /* Add some gap between columns */
  row-gap: 10px; /* Add some gap between rows */
  align-items: start; /* Align items to the top */
  padding: 10px; /* Add some padding */
}

.charge-container__selected-services-header {
  font-weight: bold;
  padding: 10px;
  text-align: center; /* Center the text */
}

.charge-container__selected-services-item {
  display: contents;
}

.charge-container__no-minutes {
  text-align: center;
  margin: 20px;
}

.charge-container__minutes-input {
  width: 65px;
  text-align: center;
  border-bottom: 1px solid var(--red);
}
.charge-details,
.charge-container__minutes-input,
.charge-container__units-display,
.charge-container__minutes-input_container {
  padding: 5px;
}

.charge-container__units-display {
  font-size: 20px;
  color: var(--blue);
  text-align: center;
  padding-bottom: 10px;
  margin-top: 15px;
}

.charge-container__remove-btn {
  background: none;
  color: var(--red);
  border: none;
  cursor: pointer;
  order: -1;
}

.charge-container__remove-btn:hover {
  background: none;
  color: rgb(234, 54, 54);
}

.charge-container__reset-btn {
  width: 100%;
  height: 35px;
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  border-radius: 50px;
}

.charge-container__reset-btn:hover {
  background-color: #1e467d;
}

.charge-container__calculate-btn {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 10px;
  background-color: var(--red);
  border-radius: 50px;
}

.charge-container__calculate-btn:hover {
  background-color: #b53333;
}

@media only screen and (max-width: 768px) {
  .charge-container {
    padding: 10px; /* Slightly increased padding for better spacing */
  }

  .charge-container__method-selector,
  .charge-container__charge-selector,
  .charge-container__reset-btn,
  .charge-container__calculate-btn {
    width: 100%;
    margin: auto; /* Center-align if max-width is less than 100% */
  }

  .charge-container__calculate-btn {
    margin: 10px 0; /* Adjusted margin for better spacing */
  }

  .charge-container h2 {
    font-size: 18px; /* Adjusted font size for better readability */
    padding-bottom: 5px; /* Reduced padding for compactness */
    border-bottom: 1px solid #eaeaea; /* Restored border with reduced thickness */
  }

  .charge-details,
  .charge-container__calculation-result-text {
    font-size: 16px;
  }

  .charge-container__remove-btn,
  .charge-container__reset-btn,
  .charge-container__calculate-btn {
    padding: 12px 10px 12px 0;
  }
}
