:root {
  --red: rgba(228, 54, 80, 0.936);
  --blue: rgba(25, 32, 82, 0.829);
}

.calculator-container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
}

.logo {
  float: left;
  opacity: 0.7;
  width: 100px;
}

.app-title {
  font-family: 'Roboto', sans-serif;
  color: var(--red);
  font-weight: 400;
  opacity: 0.9;
  font-style: normal;
  text-align: center;
  padding: 10px 0 10px 10px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .app-title {
    font-size: 20px;
    font-weight: 400;
    padding: 20px 0 20px 10px;
    text-align: center;
    opacity: 0.9;
  }
  .calculator-container {
    padding: 0px;
  }
  .logo {
    float: left;
    opacity: 0.7;
    width: 100px;
  }

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
