:root {
  --red: rgba(228, 54, 80, 0.936);
  --blue: rgba(25, 32, 82, 0.829);
}

.calculator-container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.app-title {
  font-family: 'Roboto', sans-serif;
  color: var(--red);
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input[type='text'],
input[type='number'] {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .app-title {
    font-size: 20px;
    font-weight: 600;
  }
  .calculator-container {
    padding: 0px;
  }
}
